<!DOCTYPE html>
<html>
<head>
    <title>Add Course</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Add Chapter
            $('#add-chapter').click(function() {
                var chapterForm = $('#chapter-template').clone();
                chapterForm.find('input').val('');
                chapterForm.find('.title-form').remove();
                $('.chapter-container').append(chapterForm);
            });

            // Add Title
            $(document).on('click', '.add-title', function() {
                var titleForm = $('#title-template').clone();
                titleForm.find('input').val('');
                $(this).closest('.chapter-form').find('.title-container').append(titleForm);
            });

            // Delete Chapter
            $(document).on('click', '.delete-chapter', function() {
                $(this).closest('.chapter-form').remove();
            });

            // Delete Title
            $(document).on('click', '.delete-title', function() {
                $(this).closest('.title-form').remove();
            });
        });
    </script>
</head>
<body>
    <h2>Add Course</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Course Form -->
        {{ formset.management_form }}
        {{ formset.as_p }}
        
        <!-- Chapters -->
        <h3>Chapters:</h3>
        <div class="chapter-container">
            {% for form in formset %}
                <div class="chapter-form" id="chapter-template">
                    {{ form.as_p }}
                    <!-- Titles for Each Chapter -->
                    <h3>Titles for Each Chapter:</h3>
                    <div class="title-container">
                        {% for title_form in form.titles %}
                            <div class="title-form" id="title-template">
                                {{ title_form.as_p }}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="add-title">Add Title</button>
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-chapter">Add Chapter</button>
        <input type="submit" value="Add Course">
    </form>
</body>
</html>