<div class="border-0 border-start border-2 ps-2" id="{{comment.id}}">
    <div class="mt-3">
        <strong>{{comment.user.first_name}}</strong>
        <small class="text-muted">On {{ comment.timestamp }}</small>
    </div>
    <div class="border p-2 rounded">
        <p>{{ comment.message }}</p>
        <button class="btn btn-primary btn-sm" onclick="handleReply({{ comment.id }})">
            Reply
        </button>

        <div id="reply-form-container-{{comment.id}}" style="display: none">
            <form method="post" action="{% url 'reply' %}" class="mt-3">
                {% csrf_token %}
                <input type="hidden" name="blog_id" value="{{blog.id}}" />
                <input type="hidden" name="parent" value="{{comment.id}}" />
                <input type="hidden" name="blog_url" value="{{blog.get_absolute_url}}" />

                {{comment_form.as_p}}

                <div>
                    <button type="button" onclick="handleCancel({{comment.id}})" class="btn btn-light border btn-sm">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </form>
        </div>
        {% for comment in comment.get_comments %} 
            {% include "main/comment.html" with comment=comment %} 
        {% endfor %}
    </div>
</div>