<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
      </button>
      <form action="#" class="searchform order-lg-last">
          <div class="form-group d-flex">
              <input type="text" class="form-control pl-3" placeholder="Search" />
              <button type="submit" placeholder="" class="form-control search">
                  <span class="ion-ios-search"></span>
              </button>
          </div>
      </form>
      <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a href="{% url 'home' %}" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'courses' %}" class="nav-link">Courses</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">Problems</a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'projects' %}" class="nav-link">Projects</a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'blog' %}" class="nav-link">Blog</a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'contact' %}" class="nav-link">Contact</a>
              </li>

              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a href="/profile" class="nav-link">{{user.first_name}}</a>
              </li>
              <li class="nav-item">
                  <a href="/signout" class="nav-link">Sign Out</a>
              </li>
              {% endif %}
              {% if user.role == 'Mentor' %}
              <li class="nav-item">
                  <a href="{% url 'edit_courses' %} " class="nav-link">Edit your Courses</a>
              </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>
<script>
    var currentURL = window.location.pathname;
    var links = document.querySelectorAll(".nav-link");
  
    // Remove the "active" class from all links
    links.forEach(function (link) {
      link.parentElement.classList.remove("active");
   
    
    if (link.getAttribute("href") === currentURL ) {
          link.parentElement.classList.add("active");
      }
    });
    if (currentURL.startsWith("/editcourses/") || currentURL.startsWith("/editcourse/") || currentURL.startsWith("/add_titles/") || currentURL.startsWith("/add_question/")) {
      var editCoursesLink = findLinkByText("Edit your Courses");
      if (editCoursesLink) {
        editCoursesLink.parentElement.classList.add("active");
      }
    } else if (currentURL.includes("/edit/")) {
      var editCoursesLink = findLinkByText("Edit your Courses");
      if (editCoursesLink) {
        editCoursesLink.parentElement.classList.add("active");
      }
    } else if (currentURL.includes("/course/")) {
      var coursesLink = findLinkByText("Courses");
      if (coursesLink) {
        coursesLink.parentElement.classList.add("active");
      }
    }
  
    function findLinkByText(text) {
      for (var i = 0; i < links.length; i++) {
        if (links[i].innerText === text) {
          return links[i];
        }
      }
      return null;
    }
  </script>
  
  